<nav class = "navbar navbar-default">
  <div class = "row">
      <div class="item col-md-4">
          <img src = "assets/instagram-brands.svg" width = "25px" height = "42px">
          <div class="border">
          </div>
          <a class = "logo" routerLink=""> Instajoe </a>
      </div>
      <div class="item col-md-4">
          <input text-align = "center" class = "search" type="text" placeholder="Type to search">
      </div>
      <div class="item col-md-4">    
          
        <a routerLink = "/explore">
          <i class="material-icons-new outline-explore"></i>
        </a>
        <a routerLink = "/notfications">
          <i class="material-icons-new outline-favorite_border"></i>
        </a>
        <a routerLink = "/profile/:id"> <!--  Should be changed to get real user id      -->
          <i class="material-icons-new outline-account_circle"></i>
        </a>
        <a routerLink= "/upload">
          <i class="material-icons-new outline-photo_camera"></i>
        </a>
              
      </div>
  </div>
</nav>